@{
  ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
  This is a simple partner project, preformed by myself, and Cicley.
  We were tasked with creating a payroll page for given data, using
  a database.
</p>
