@{
  ViewBag.Title = "Home Page";
}

<div class="jumbotron">
  <h1 style="font-family:'Brush Script MT'">Pair Programming</h1>
  <p class="lead">Pay Roll, using collections!</p>
  
  <!--<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>

